%h1 Users#show
=link_to "My Account", edit_account_path(current_user)
=link_to "Account Settings", edit_registration_path(current_user)
=link_to "My subscription", edit_subscription_path(current_user)