.panel
  .panel-header
    %h3 Your Events
  .panel-content
    - @events.each do |event|
      .panel-item
        .panel-item-left
          = link_to event.title, edit_event_path(event), :class => "panel-item-title"
          %p.inline-content= event.description.truncate(75, separator: /\s/)
        .panel-item-right
          %em= event.date.strftime("%m/%d/%Y %I:%M%P")
          = link_to "Edit", edit_event_path(event), :class => "button button-standard button-inline"

    .panel-footer
      =link_to new_event_path, :class => "button button-positive" do
        %i.fa.fa-plus
        New Event
