%h1 Your Events
= link_to "New Event", new_event_path
%ul
  - @events.each do |event|
    %li
      %h2
        = link_to event.title, edit_event_path(event)
      %h3= event.date
      = link_to "Edit", edit_event_path(event)
