/* /////////////////////////////////////////////////////

CONTAINERS

///////////////////////////////////////////////////// */

.container {
  @include container;
  /*@include susy-grid-background();*/
}

.container--dark,
.container--light,
.container--darker {
  padding: 4em 0 7.5em 0;
}

.container--light {
  background: #fff;
}

.container--darker {
  background: $medium-grey;
}

.container--black {
  background: $dark-grey;
}

.container--banner {
  padding: 2.5em 0 2em 0;
  background: $highlight-color;
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
}

.content {
  @extend .clear-fix;
  @include span-columns(10,12);
  display: block;
  float: none;
  margin: 0 auto;
}

.layout-basic {

  .footer-full {
    width: 100%;
    position: absolute;

    &.container--black {
      bottom: 0;
    }

    &.container--darker {
      bottom: 40px;
    }
  }
}

.single-form {
  background: #FFF;
  border: 2px solid #F0F0F0;
  border-radius: 2px;
  padding: 20px 40px 40px 40px;
  width: 50%;
  margin-top: 40px;
}

.dashboard-layout {
  background: $dark-blue;
  @extend .clear-fix;
}

.dashboard-content {
  width: 85.1%;
  height: 100%;
  min-height: 1000px;
}

.dashboard-pane {
  padding: 15px;
  background: $light-grey;
  height: 100%;

  h3 {
	font-size: 1em;
	padding: 0;
  }
}

.panel {
  background: #fff;
  margin-top: 20px;
}

.panel-header {
  padding: 10px;
  background: #fafafa;
  border: 2px solid #ececec;
  overflow: hidden;
}

.panel-content {
  padding: 15px;
  border: 2px solid #ececec;
  border-top: none;
}

.panel-content {
  overflow: hidden;
}

.panel-item {
  overflow: hidden;
  border-bottom: 1px solid $light-grey;
  padding-top: 16px;
}

.panel-item-title {
  font-weight: bold;
  margin-right: 10px;
  display: block;
  color: $base-color;
}

.panel-item-left {
  overflow: hidden;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  em {
    font-size: 0.9em;
  }
}

.panel-item-right {
  float: right;
  text-align: right;
  margin-top: 2.2%;
}

.panel-footer {
  margin-top: 20px;
}
