/* /////////////////////////////////////////////////////

CONTAINERS

///////////////////////////////////////////////////// */

.container {
  @include container;
  // @include susy-grid-background();
}

.container--dark,
.container--light,
.container--darker {
  padding: 4em 0 7.5em 0;
}

.container--light {
  background: #fff;
}

.container--darker {
  background: $medium-grey;
}

.container--black {
  background: $dark-grey;
}

.container--banner {
  padding: 2.5em 0 2em 0;
  background: $highlight-color;
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
}

.content {
  @extend .clearfix;
  @include span-columns(10,12);
  display: block;
  float: none;
  margin: 0 auto;
}

.layout-basic {

  .footer-full {
    width: 100%;
    position: absolute;

    &.container--black {
      bottom: 0;
    }

    &.container--darker {
      bottom: 40px;
    }
  }
}

.single-form {
  background: #FFF;
  border: 2px solid #F0F0F0;
  border-radius: 2px;
  padding: 20px 40px 40px 40px;
  width: 50%;
  margin-top: 40px;
}
