/* /////////////////////////////////////////////////////

INPUTS

///////////////////////////////////////////////////// */

/* Common
--------------------------------------------- */

.control-group {
  @extend .clear-fix;
  margin-bottom: 20px;
}

.control-group-left {
  float: left;
}

.control-group-right {
  float: right;
}

.control-group-ui {
  margin: 0 0 0 20%;
}

/* Buttons
--------------------------------------------- */

@include button(standard, #fff, $primary-action-color);
@include button(positive, #fff, $success-color);
@include button(danger, #fff, $error-color);
@include button(neutral, #fff, $tertiary-color);

.button {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  @include border-radius(3px);
  @include transition(background .2s ease-out);
}

.button--light {
  border: 1px solid #fff;
  color: #fff;
  background: rgba(0,0,0,0);
  @include transition(background .2s ease-out);

  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.button--mega {
  color: $light-grey;
  border: 3px solid $light-grey;
  width: 460px;
  font-weight: 200;
  font-size: 1.5em;
}

.button--light--large {
  border-width: 2px;
  font-size: 0.9em;
  font-weight: 200;
  padding: 20px;
}

.button-loud {
  background: $secondary-highlight-color;
  color: #fff;
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.button-inline {
  padding: 0 10px;
  margin-left: 10px;
}

/* Inputs
--------------------------------------------- */

.input--light {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 6px 10px;
  @include border-radius(3px);
}

.input--mega {
  color: $light-grey;
  border: 3px solid $light-grey;
  background: transparent;
  width: 460px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.2em;
  @include border-radius(3px);
}

.input--mega_dark {
  color: adjust-lightness($medium-grey, 25%);
  border-color: adjust-lightness($medium-grey, 25%);
}

.input--mega_full {
  width: 100%;
}

.input--mega_half {
  width: 48%;
  float: left;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.input-add-on {
  position: relative;
  overflow: hidden;

  .add-on {
    position: absolute;
    display: block;
    background: $light-grey;
    right: 0;
    top: 0;
    padding: 14px;
    font-size: 1.5em;
  }
}

/* Checkboxes */

.checkbox-large {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 10px 0 0;
  float: left;
  outline: none;
  cursor: pointer;
  border: 2px solid adjust-lightness($medium-grey, 25%);
  @include appearance(none);

  &:checked {
    background: transparent url('misc/icon-check.png') left top no-repeat;
  }
}

.checkbox-large--light {
  border-color: $light-grey;

  &:checked {
    background: transparent url('misc/icon-check-light.png') left top no-repeat;
  }
}

.checkbox-large--label {
  color: $light-grey;
  font-size: 1.5em;
  line-height: 0.9em;
}

/* Forms
--------------------------------------------- */

.fixed-form {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  @include background(radial-gradient(top, rgba(67, 79, 92, 1), rgba(86, 100, 115, 0.9)));
  @include transition(top .5s $easeOutQuint);

  &.transition-in {
    top: 90px;
  }

  input {
    margin-bottom: 20px;
  }

  input[type='submit'] {
    padding: 15px 0;
    margin-top: 20px;
  }

  form {
    margin: 30px auto;
    width: 460px;
  }

  .header-text {
    color: $light-grey;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
  }

  .icon-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
}

/* Form panel inputs  */

.panel {
    input[type='text'],
    input[type='email'],
    input[type='password'],
    textarea {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
    @include border-radius(3px);
  }

  input[type='submit'] {
    margin-left: 20.5%;
  }

  .control-group {

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  label {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    width: 20%;
    font-weight: bold;
    color: adjust-lightness($medium-grey, 25%);
    float: left;

    &.add-field {
      cursor: pointer;
      width: 250px;
      color: adjust-lightness($light-grey, -25%);
      text-align: center;

      &:hover {
        color: $secondary-highlight-color;
      }
    }
  }
}
