/* /////////////////////////////////////////////////////

LISTS

///////////////////////////////////////////////////// */

.icon-list {
  overflow: hidden;

  .icon {
    margin-right: 5px;
  }
}

.icon-list--horizontal {
  margin-top: 17px;

  a {
    display: block;
  }

  li {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}