/* /////////////////////////////////////////////////////

QUOTES

///////////////////////////////////////////////////// */

.quote {
  @extend .clearfix;

  img {
    border-radius: 116px;
    display: block;
    margin-right: 30px;
    float: left;
  }

  blockquote {
    width: 75%;
    margin-top: 5%;
    float: left;
  }

  cite {
    float: right;
    font-size: 1em;
  }
}