/* /////////////////////////////////////////////////////

UTILS
General CSS utilities and SASS mixins

///////////////////////////////////////////////////// */

.no-flicker{-webkit-transform:translate3d(0,0,0);}

.hide-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clear-fix {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.emphasis {
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 26px;
}

.align-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.mobile-hidden {

  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.mobile-visible {
  display: none;

  @media screen and (max-width: $break-small) {
    display: block;
  }
}

.pull-right {
  float: right;
}

.blur {
  @include filter(blur(2px));
}
