.panel
  .panel-header
    %h3 Your Galleries
  .panel-content
    - @galleries.each do |gallery|
      .panel-item
        .panel-item-left
          = link_to gallery.title, edit_gallery_path(gallery), :class => "panel-item-title"
          %p.inline-content= gallery.description.truncate(75, separator: /\s/)
        .panel-item-right
          = link_to "Edit", edit_gallery_path(gallery), :class => "button button-standard button-inline"
          = link_to "Delete", gallery_path(gallery), :method => :delete, :class => "button button-danger button-inline", :data => { :confirm => "Delete this gallery?" }

    .panel-footer
      =link_to new_gallery_path, :class => "button button-positive" do
        %i.fa.fa-plus
        New Gallery
