/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

@include font-face("droid-bold", font-files("DroidSerif-Bold.ttf", "DroidSerif-Bold.svg", "DroidSerif-Bold.eot", "DroidSerif-Bold.woff"));
@include font-face("droid-regular", font-files("DroidSerif-Regular.ttf", "DroidSerif-Regular.svg", "DroidSerif-Regular.eot", "DroidSerif-Regular.woff"));

@include establish-baseline($base-font-size);

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  // *behavior: url(/scripts/boxsizing.htc); // <--- Use this for <= IE7 https://github.com/Schepp/box-sizing-polyfill
}

html {
  height: 100%;  
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;  
  background: $light-grey;
  color: $base-color;
  font-family: $base-font;
}

h1, h2, h3, h4, h5 {
  padding: 10px 0;
}

h1 {

}
h2 {
  font-size: 46px;
  margin: 80px 0;
  line-height: 50px;
  word-break: break-word;
}

h3 {
  font-size: 3.5em;
  line-height: 1em;
  padding-top: 0;
}

h4 {
  font-size: 1.5em;
}

h5 {}

h6 {
  font-size: 1.5em;
}

a {
  color: $base-color;
  text-decoration: none;
  
  &:hover {
    color: $secondary-color;
  }
  &:active {}
}

p, ol, ul {
  margin-bottom: 15px;
}

p {}

ol {}

ul {}

pre {
  background: $tertiary-color;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;

  @media screen and (max-width: $break-small) {
    overflow: auto;
  }
}

code {
  font-family: monospace;
  background: #DBDADA;
}

strong { font-weight: bold; }
em { font-style: italic; }

hr {}

article,
aside {
  text-align: left;
}

blockquote,
cite {
  font-size: 1.2em;
  line-height: 1.6em;
  font-style: italic;
  font-family: $serif-regular;
}

cite {
  color: adjust-lightness($base-color, 25%);
}

form {}

label {
  color: $dark-grey;
}

input,
textarea {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $dark-grey;
  font-family: $base-font;

}

input[type='text'],
input[type='password'],
input[type='email'],
textarea,
.project_plan-new textarea {
  border: none;
  background-color: $tertiary-color;
  padding: 10px;
  border-radius: 10px;
  height: 55px;
  @include transition(box-shadow .2s ease-out);

  &:focus,
  &:hover {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
  }

  &.input-error {
    border-color: rgba(236, 82, 82, 0.8);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6));

    @media screen and (max-width: $break-small) {
      border: 1px solid red;
    }
  }
}

.project_plan-new textarea {
  height: auto;
}

.error-messages {
  color: #f00;
}

.field_with_errors {
  width: 307px;
  height: 55px;
  float: left;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  input[type='text'],
  input[type='password'] {
    width: 100% !important;
    border-color: rgba(236, 82, 82, 0.8);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6)); 
  }
}

textarea {
  width: 100%;
  height: 210px;
  background: #fff;
  margin-bottom: 17px;
}

select{}
button {
  border: none;
  padding: 0;
  margin: 0;
}

:-webkit-input-placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder  { 
    color: $dark-grey;
}

/* Tables
--------------------------------------------- */

table {
  width: 100%;
}

th {
  font-weight: bold;
  padding: 0 0 5px 0;
}

td {
  padding: 5px;
}

table.striped {

  tbody {
    
    tr:nth-child(odd) {
      background: $tertiary-color;
    }
  }
}