/* /////////////////////////////////////////////////////

GRID SYSTEM

///////////////////////////////////////////////////// */

@import "susy";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 0;
$container-style: fluid;

@mixin grid-settings( 
  $cols: $total-columns, 
  $width: $column-width, 
  $gutter: $gutter-width, 
  $padding: $grid-padding
  ){
  // keep the defaults around
  $default-cols: $total-columns;
  $default-width: $column-width;
  $default-gutter: $gutter-width;
  $default-padding: $grid-padding;
 
  // use the new settings
  $total-columns: $cols;
  $column-width: $width;
  $gutter-width: $gutter;
  $grid-padding: $padding;
 
  // apply to contents
  @content;

  // re-instate the defaults
  $total-columns: $default-cols;
  $column-width: $default-width;
  $gutter-width: $default-gutter;
  $grid-padding: $default-padding;
}

@include generate-grid-class(5);
@include generate-grid-class(4);
@include generate-grid-class(3);