/* /////////////////////////////////////////////////////

UTILS
General CSS utilities and SASS mixins

///////////////////////////////////////////////////// */

@mixin image-replace($image) {
  background: image-url($image) no-repeat;
  width: image-width($image);
  height: image-height($image);
}

@mixin set-active-nav($bodyClass, $navClass) {
  .#{$bodyClass} {
    .main-nav .#{$navClass},
    .mobile-nav .#{$navClass} {
      color: $highlight-color;
    }
  }
}

@mixin generate-grid-class($number) {
  .col-#{$number} {
    @include span-columns($number, 12);
  }

  .col-#{$number}--last {
    margin-right: 0;
  }
}

.no-flicker{-webkit-transform:translate3d(0,0,0);}

.hide-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clearfix {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.emphasis {
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 26px;
}

.align-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.mobile-hidden {

  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.mobile-visible {
  display: none;
  
  @media screen and (max-width: $break-small) {
    display: block;
  }
}
