%h1 Accounts#show
=link_to "My Account", edit_user_account_path(current_user)
=link_to "Account Settings", edit_user_registration_path(current_user)
=link_to "My subscription", edit_user_subscription_path(current_user)
%p Find me in app/views/accounts/show.html.haml
